@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
        background-color: #fdfedd;
        overflow-x: hidden;
        font-family: "Arial","Helvatica";
    }
}

@layer components {
    .input-box {
        @apply w-full text-sm bg-cyan-600/5 rounded px-5 py-3 mb-4 outline-none
    }

    .btn-primary {
        @apply w-full text-sm font-medium text-white bg-cyan-500 shadow-lg shadow-cyan-200/50 p-[10px] rounded-full my-1 hover:text-primary hover:bg-cyan-200
    }

    .btn-secondary {
        @apply w-full text-sm font-medium text-primary bg-cyan-200 shadow-lg shadow-cyan-200/50 p-[10px] rounded-full my-1 hover:text-white hover:bg-cyan-500
    }

    .login-ui-box {
        @apply w-96 h-[450px] rounded-full bg-cyan-500 rotate-45 absolute
    }

    .signup-ui-box {
        @apply w-96 h-[450px] rounded-full bg-cyan-500 rotate-45 absolute right-4
    }
}
