@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
        background-color: #fdfedd;
        overflow-x: hidden;
        font-family: "Arial","Helvatica";
    }
}

/*Custom scrollbar styles*/
.scrollbar::-webkit-scrollbar{
    width:3px;
    height:3px;
}

.scrollbar::-webkit-scrollbar-thumb{
    background-color:#057c8e;
    border-radius:3px;
}

.scrollbar::-webkit-scrollbar-track{
    background-color:rgb(172,201,229);
}

@layer components {
    .input-box {
        @apply w-full text-sm bg-cyan-600/5 rounded px-5 py-3 mb-4 outline-none
    }

    .btn-primary {
        @apply w-full text-sm font-medium text-white bg-cyan-500 shadow-lg shadow-cyan-200/50 p-[10px] rounded-full my-1 hover:text-primary hover:bg-cyan-200
    }

    .btn-secondary {
        @apply w-full text-sm font-medium text-primary bg-cyan-200 shadow-lg shadow-cyan-200/50 p-[10px] rounded-full my-1 hover:text-white hover:bg-cyan-500
    }

    .login-ui-box {
        @apply w-96 h-[450px] rounded-full bg-cyan-500 rotate-45 absolute
    }

    .signup-ui-box {
        @apply w-96 h-[450px] rounded-full bg-cyan-500 rotate-45 absolute right-4
    }

    .model-box{
        @apply w-[80vh] md:w-[40%] h-[80vh] bg-white rounded-lg mx-auto mt-14 p-5 overflow-y-scroll scrollbar fill-zinc-50;
    }

    .btn-small{
        @apply flex items-center gap-1 text-xs font-medium bg-cyan-50 text-blue-400 shadow-cyan-100/0 border border-cyan-100 hover:bg-cyan-300 hover:text-white rounded px-3 py-[3px];
    }

    .btn-delete{
        @apply flex items-center gap-1 text-xs font-medium bg-rose-50 text-rose-500 shadow-rose-100/0 border border-rose-100 hover:bg-rose-500 hover:text-white rounded px-3 py-[3px];
    }

    .input-label{
        @apply text-xs text-slate-400
    }

    .input-box{
        @apply text-2xl text-slate-950 outline-none bg-slate-100 p-2 rounded-md
    }
}
